@model IEnumerable<COMP2006_S2016_FinalExamV2.Models.Artist>

<!--
File   : Artist/Index.cshtml
Author : Nisarg
Student	Number: 200292593
Date: 2016-08-18
Version History: 1.0.0
Description:  This page is Artist page with list of all Artist -->


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Artist</h2>

<div class="container">

    <div class="row">
        <div class="col-md-8">
            <table class="table table-condensed">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                        </tr>
                    }

                </table>
            </div>
</div>
</div>